.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
  margin: 0 10px;
  transition: all 0.3s;
}

.nav-link:hover {
  transform: translateY(-2px);
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}